# Still Working On:

## Purchasing Analysis (Gender)
    The below each broken by gender
        # Average Purchase Total per Person by Gender ****

In [1]:
#Import Dependencies
import pandas as pd
import numpy as np

In [2]:
#Import file
csv_file = "Resources/purchase_data.csv"
purchase_data_df = pd.read_csv(csv_file)

In [3]:
#Preview dataframe
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# Player Count
total_unique_players = purchase_data_df["SN"].nunique()
print(f"Total Players: {total_unique_players}")

Total Players: 576

## Purchasing Analysis (Total)
    # Number of Unique Items
    # Average Purchase Price
    # Total Number of Purchases
    # Total Revenue

In [5]:
# Collect information
unique_items = purchase_data_df["Item ID"].nunique()
total_rev = purchase_data_df["Price"].sum()
purchase_count = purchase_data_df["Item ID"].count()
avg_purchase = np.round((total_rev/purchase_count),2)

# Display resutls
print("~ PURCHASING ANALYSIS ~")
print(f"Number of Unique Items: {unique_items}")
print(f"Average purchase price: ${avg_purchase}")
print(f"Number of Transactions: {purchase_count}")
print(f"Total Revenue: ${total_rev}")

~ PURCHASING ANALYSIS ~
Number of Unique Items: 183
Average purchase price: $3.05
Number of Transactions: 780
Total Revenue: $2379.77

# Gender Demographics
    # Percentage and Count of Male Players
    # Percentage and Count of Female Players
    # Percentage and Count of Other / Non-Disclosed

In [6]:
# Create list of values
gender_player_count = purchase_data_df["Gender"].value_counts()
all_player_count = purchase_data_df["Item ID"].count()
player_percent = gender_player_count/all_player_count

# Create Df from lists
gender_df = pd.DataFrame({"Number of Players": gender_player_count,"Percent of Players": player_percent})

# Format DF
format_dict = {"Percent of Players":"{0:,.2%}"}

# Select columns with gender count as the DF index (by listing first) 
gender_df[["Number of Players","Percent of Players"]]

# Print
gender_df.style.format(format_dict)

# Purchasing Analysis (Gender)
    # The below each broken by gender
        # Purchase Count
        # Average Purchase Price
        # Total Purchase Value
        # Average Purchase Total per Person by Gender

In [64]:
# Create DF with purchase information by gender
purchase_df = purchase_data_df.groupby("Gender")["Price"].agg(["count","sum","mean"])

# # # # # # # # # # # # # # # 
# Special Report by Name by Gender
avg_person_spend = purchase_data_df.groupby(["SN","Gender"])["Price"].sum()
avg_person_spend_x_gender = avg_person_spend.groupby("Gender").mean()
avg_person_spend_x_gender # <-- list
# Merge back into purchase_df
purchase_df = pd.merge(purchase_df, avg_person_spend_x_gender, on="Gender")

# Rename columns
purchase_df = purchase_df.rename(columns={
    "mean":"Average Purchase",
    "sum":"Total Revenue",
    "count":"Number of Purchases",
    "Price":"Average Purchase by Person"})

# Format columns
format_dict = {
    "Total Revenue":"${0:,.2f}", 
    "Average Purchase":"${0:,.2f}",
    "Average Purchase by Person":"${0:,.2f}"}
purchase_df = purchase_df.style.format(format_dict)

# Print
print("Purchasing Analysis")
purchase_df

Purchasing Analysis

# Age Demographics
    # The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
        # Purchase Count
        # Average Purchase Price
        # Total Purchase Value
        # Average Purchase Total per Person by Age Group

In [17]:
# Create year bins
bins = [0, 12, 18, 23, 34, 100]
groups = ["12 & Under","13-18 (High School)","19-23 (College)","24-34 (Post Grad)","Over 35"]

# Assign column with age group name
age_df = purchase_data_df
age_df["Age Group"] = pd.cut(age_df["Age"], bins, labels=groups)

# Group by age group
age_df = age_df.groupby("Age Group")["Price"].agg(["count","mean","sum"])

# Rename columns
age_df = age_df.rename(columns={
    "count":"Purchase Count",
    "mean":"Average Purchase",
    "sum":"Total Revenue"})

# Format columns
format_dict = {
    "Total Revenue":"${0:,.2f}", 
    "Average Purchase":"${0:,.2f}"}
age_df = age_df.style.format(format_dict)

# Print
print("Age Demograpics")
age_df

Age Demograpics

# Top Spenders
    # Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
        # SN
        # Purchase Count
        # Average Purchase Price
        # Total Purchase Value

In [33]:
# Group SN by spend (price)
top_spenders_df = purchase_data_df.groupby("SN")["Price"].agg(["count","mean","sum"])

# Rename columns
top_spenders_df = top_spenders_df.rename(columns={
    "count":"Purchase Count",
    "mean":"Average Spend",
    "sum":"Total Revenue"})

# Format columns
format_dict = {
    "Total Revenue":"${0:,.2f}", 
    "Average Spend":"${0:,.2f}"}

# Print
print("Top 5 Spenders")
top_spenders_df.sort_values(by="Total Revenue", ascending=False).head(5).style.format(format_dict)

Top 5 Spenders

# Most Popular Items
    # Identify the 5 most popular items by purchase count, then list (in a table):
        # Item ID
        # Item Name
        # Purchase Count
        # Item Price
        # Total Purchase Value

In [11]:
# Create DF with purchase information by most purchase counts
most_popular_df = purchase_data_df.groupby(["Item ID","Item Name","Price"])["Price"].agg(["count", "sum"])

# Rename calculation columns
most_popular_df = most_popular_df.rename(columns={
    "count":"Number Purchased Items",
    "sum":"Total of Purchases"})

# Format columns
format_dict = {"Total of Purchases":"${0:,.2f}"}

#Print
print("~ Most Popular Items ~")
most_popular_df.sort_values(by="Number Purchased Items", ascending=False).head(5).style.format(format_dict)

~ Most Popular Items ~

# Most Profitable Items
    # Identify the 5 most profitable items by total purchase value, then list (in a table):
        # Item ID
        # Item Name
        # Purchase Count
        # Item Price
        # Total Purchase Value

In [12]:
# Create DF with purchase information by most purchase amount
most_popular_df = purchase_data_df.groupby(["Item ID","Item Name","Price"])["Price"].agg(["count", "sum"])

# Rename calculation columns
most_popular_df = most_popular_df.rename(columns={
    "count":"Number Purchased Items",
    "sum":"Total of Purchases"})

# Format columns
format_dict = {"Total of Purchases":"${0:,.2f}"}

#Print
print("~ Most Profitable Items ~")
most_popular_df.sort_values(by="Total of Purchases", ascending=False).head(5).style.format(format_dict)

~ Most Profitable Items ~