In [1]:
#Import Dependencies
import pandas as pd
import numpy as np

In [2]:
#Import file
csv_file = "Resources/purchase_data.csv"
purchase_data_df = pd.read_csv(csv_file)

In [3]:
#Preview dataframe
# purchase_data_df.head()

In [4]:
# Player Count
total_unique_players = purchase_data_df["SN"].nunique()

# Pull into DF
total_unique_players = pd.DataFrame({"Unique Players": [total_unique_players]})

# Print
total_unique_players

   Unique Players
0             576

In [5]:
## Purchasing Analysis (Total)
    # Number of Unique Items
    # Average Purchase Price
    # Total Number of Purchases
    # Total Revenue

In [8]:
# Purchase Information Collection
unique_items = purchase_data_df["Item ID"].nunique()
total_rev = purchase_data_df["Price"].sum()
purchase_count = purchase_data_df["Item ID"].count()
avg_purchase = (total_rev/purchase_count)

# Pull lists into DF
purchase_analysis = pd.DataFrame({
    "Number Unique Items":[unique_items],
    "Total Number Purchases":[purchase_count],
    "Average Purhcase Price":[avg_purchase],
    "Total Revenue":[total_rev]})

# Format DF
purchase_analysis_format_dict = {
    "Average Purhcase Price":"${0:,.2f}",
    "Total Revenue":"${0:,.2f}"}
purchase_analysis = purchase_analysis.style.format(purchase_analysis_format_dict)

# Print
print("~ PURCHASING ANALYSIS ~")
purchase_analysis

~ PURCHASING ANALYSIS ~

In [ ]:
# Gender Demographics
    # Percentage and Count of Male Players
    # Percentage and Count of Female Players
    # Percentage and Count of Other / Non-Disclosed

In [10]:
# Create list of values
gender_player_count = purchase_data_df["Gender"].value_counts()
all_player_count = purchase_data_df["Item ID"].count()
player_percent = gender_player_count/all_player_count

# Pull lists into DF
gender_df = pd.DataFrame({
    "Number of Players": gender_player_count,
    "Percent of Players": player_percent})

# Select columns with gender count as the DF index (by listing first) 
gender_df[["Number of Players","Percent of Players"]]

# Format DF
gender_df_format_dict = {"Percent of Players":"{0:,.2%}"}
gender_df = gender_df.style.format(gender_df_format_dict)

# Print
print("~ GENDER DEMOGRAPHICS ~")
gender_df

~ GENDER DEMOGRAPHICS ~

In [11]:
# Purchasing Analysis (Gender)
    # The below each broken by gender
        # Purchase Count
        # Average Purchase Price
        # Total Purchase Value
        # Average Purchase Total per Person by Gender

In [13]:
# Create DF with purchase information by gender
purchase_df = purchase_data_df.groupby("Gender")["Price"].agg(["count","sum","mean"])

# # # # # # # # # # # # # # # 
# Special Report by Name by Gender
avg_person_spend = purchase_data_df.groupby(["SN","Gender"])["Price"].sum()
avg_person_spend_x_gender = avg_person_spend.groupby("Gender").mean()
avg_person_spend_x_gender # <-- list
# Merge back into purchase_df
purchase_df = pd.merge(purchase_df, avg_person_spend_x_gender, on="Gender")
# # # # # # # # # # # # # # # 

# Rename columns
purchase_df = purchase_df.rename(columns={
    "mean":"Average Purchase",
    "sum":"Total Revenue",
    "count":"Number of Purchases",
    "Price":"Average Purchase by Person"})

# Format columns
purchase_df_format_dict = {
    "Total Revenue":"${0:,.2f}", 
    "Average Purchase":"${0:,.2f}",
    "Average Purchase by Person":"${0:,.2f}"}
purchase_df = purchase_df.style.format(purchase_df_format_dict)

# Print
print("~ PURCHASING ANALYSIS ~")
purchase_df

~ PURCHASING ANALYSIS ~

In [14]:
# Age Demographics
    # The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
        # Purchase Count
        # Average Purchase Price
        # Total Purchase Value
        # Average Purchase Total per Person by Age Group

In [15]:
# Create year bins
bins = [0, 12, 18, 23, 34, 100]
groups = ["12 & Under","13-18 (High School)","19-23 (College)","24-34 (Post Grad)","Over 35"]

# Assign column with age group name
age_df = purchase_data_df
age_df["Age Group"] = pd.cut(age_df["Age"], bins, labels=groups)

# Group by age group for price
age_df = age_df.groupby("Age Group")["Price"].agg(["count","mean","sum"])

# Rename columns
age_df = age_df.rename(columns={
    "count":"Purchase Count",
    "mean":"Average Purchase",
    "sum":"Total Revenue"})

# Format columns
format_dict = {
    "Total Revenue":"${0:,.2f}", 
    "Average Purchase":"${0:,.2f}"}
age_df = age_df.style.format(format_dict)

# Print
print("~ AGE DEMOGRAPHICS ~")
age_df

~ AGE DEMOGRAPHICS ~

In [16]:
# Top Spenders
    # Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
        # SN
        # Purchase Count
        # Average Purchase Price
        # Total Purchase Value

In [18]:
# Group SN by spend (price)
top_spenders_df = purchase_data_df.groupby("SN")["Price"].agg(["count","mean","sum"])

# Rename columns
top_spenders_df = top_spenders_df.rename(columns={
    "count":"Purchase Count",
    "mean":"Average Spend",
    "sum":"Total Revenue"})

# Format columns
top_spenders_df_format_dict = {
    "Total Revenue":"${0:,.2f}", 
    "Average Spend":"${0:,.2f}"}

# Print
print("~ TOP 5 SPENDERS")
top_spenders_df.sort_values(by="Total Revenue", ascending=False).head(5).style.format(top_spenders_df_format_dict)

~ TOP 5 SPENDERS

In [19]:
# Most Popular Items
    # Identify the 5 most popular items by purchase count, then list (in a table):
        # Item ID
        # Item Name
        # Purchase Count
        # Item Price
        # Total Purchase Value

In [21]:
# Create DF with purchase information by most purchase counts
most_popular_df = purchase_data_df.groupby(["Item ID","Item Name","Price"])["Price"].agg(["count", "sum"])

# Rename calculation columns
most_popular_df = most_popular_df.rename(columns={
    "count":"Number Purchased Items",
    "sum":"Total of Purchases"})

# Format columns
most_popular_format_dict = {"Total of Purchases":"${0:,.2f}"}

#Print
print("~ MOST POPULAR ITEMS ~")
most_popular_df.sort_values(by="Number Purchased Items", ascending=False).head(5).style.format(most_popular_format_dict)

~ MOST POPULAR ITEMS ~

In [22]:
# Most Profitable Items
    # Identify the 5 most profitable items by total purchase value, then list (in a table):
        # Item ID
        # Item Name
        # Purchase Count
        # Item Price
        # Total Purchase Value

In [24]:
# Create DF with purchase information by most purchase amount
most_profitable_df = purchase_data_df.groupby(["Item ID","Item Name","Price"])["Price"].agg(["count", "sum"])

# Rename calculation columns
most_profitable_df = most_profitable_df.rename(columns={
    "count":"Number Purchased Items",
    "sum":"Total of Purchases"})

# Format columns
most_profitable_df_format_dict = {"Total of Purchases":"${0:,.2f}"}

#Print
print("~ MOST PROFITABLE ITEMS ~")
most_profitable_df.sort_values(by="Total of Purchases", ascending=False).head(5).style.format(most_profitable_df_format_dict)

~ MOST PROFITABLE ITEMS ~